# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Example binaries
examples/*/hexapod_leg
examples/*/*.exe

# LaTeX build artifacts
docs/*.aux
docs/*.bbl
docs/*.blg
docs/*.log
docs/*.out
docs/*.toc
docs/*.fdb_latexmk
docs/*.fls
docs/*.synctex.gz

# Coverage reports
coverage.out
coverage.html